.background {
    background-color: #f1e2c9;
}
#top_section{
    height:100%;
    vertical-align: center;
}

.btn_start_game {
    font-size: 20em;
    border-width: 1px;
    margin: 10 50 10 50;
    padding: 10 0 10 0;
    border-radius: 10;
    background-color: lightblue;
}
